.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    border-radius: 5px !important;
}
button {
    margin-top: 1rem;
}
